html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.navigation ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation ul li a:hover {
    background-color: #111111;
}

.navigation ul li a:active {
    background-color: #04AA6D;
}

.footer ul {
    list-style-type: none;
    background-color: #333333;
    display: flex;
    height: 35px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

.footer ul p {
    
    color: #f1f5f9;
}